body, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000;
    font-family: UniversNextW01-Regular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0.015em;
    line-height: 1.25;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    flex-direction: row;
    overflow-wrap: break-word;
    overflow-y: auto;
  }

/* network and nodes styling */

top-nav{
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}

#networkviz {
    width: 100%;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    font-size: 16px;
  }

  @media (max-width: 800px) {
    #networkviz{
        /* margin-top: -250px; */
        margin-bottom: -200px;
        font-size: 10px; 
        overflow: hidden;
        
    }
}
  
    .node {
    /* fill: white; */
    stroke-width: 2px;
    }

    .link {
        stroke: #b6b6b6;
        /* stroke-opacity: 0.6; */
    }
    .panel-VisualCode {
        fill: white;
        stroke: #EDDF2B;
    }
    .panel-VisualCode:hover {
        fill: #EDDF2B;
        stroke: #EDDF2B;
    }

    .panel-MappingConflict {
        fill: white;
        stroke: #AC7EEB;
    }
    .panel-MappingConflict:hover {
        fill: #AC7EEB;
        stroke: #AC7EEB;
    }

    .panel-CounterNarrative {
        fill: white;
        stroke: #EF422D;
    }
    .panel-CounterNarrative:hover {
        fill: #EF422D;
        stroke: #EF422D;
    }

    .panel-LocalData {
        fill: white;
        stroke: #19C5CC;
    }
    .panel-LocalData:hover {
        fill: #19C5CC;
        stroke: #19C5CC;
    }

    .panel-NetworkModels {
        fill: white;
        stroke: #BCD18A;
    }
    .panel-NetworkModels:hover {
        fill: #BCD18A;
        stroke: #BCD18A;
    }

    .panel-CounterForensics {
        fill: white;
        stroke: #FF9922;
    }
    .panel-CounterForensics:hover{
        fill: #FF9922;
        stroke: #FF9922;
    }

    .panel-Default {
        fill: white;
        stroke: #727272;
    }
    .panel-Default:hover {
        fill: #727272;
        stroke: #727272;
    }

.column {
    padding-top: 50px;
    flex-direction: row;
    display: flex;
  }
  
  /* Left and right column */
  .column-left {
    width: 20%;
    min-width: 350px;

  }

  .column-main {
    margin-top: 0.5%; 
  }
  
 /* Responsive layout */
@media (max-width: 800px) {
    .column{
        flex-direction: column-reverse;
        width: 100%;
    }
    .column-left, .column-main {
        flex: 100%;
        width: 100%;
    }
    .column-main{
        margin-top: 20px;
    }
}


/* .top-bar styling */
.top-bar {
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: center; */
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    position: absolute;

}

#about{
    right: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#about a{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    cursor: pointer; /* Pointer cursor for hover effect */
    border-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none; 
    color: #000;
}

#about a:hover {
    background-color: #999;
}

#about a:active{
    background-color: #000;
    color: white;
}

.about-body-text {
    max-width: 64%;
    margin-left: 25%;
    margin-right: 25%;
  }

@media (max-width: 800px) {
    .about-body-text{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
    }
}

.title {
    background-color: #ffffff;
    height: 22px;
    justify-content: center;
    /* align-items: left;  */
    border-radius: 5px;
    /* font-weight: medium;  */
    font-size: 20px;
    margin-left: 1%; 
    /* pointer-events: ; */

}

.title a:link{
    text-decoration: none;
}

.title a:visited {
    color: #000;
  }

.title a:hover {
    color: #999;
}

/* .side-panel styling */
#side-panel {
    /* margin-top: 10px; */
    margin-left: 1%; 
    margin-right: 1%;
    background-color: #f0f0f0;
    padding: 15px;
    min-width: 250px;
    max-height:100vh ;
    /* max-height: calc(100vh - 65px); */
}

.searchButton{
        width: fit-content;
        padding: 15px;
        font-weight: bold;
    }
    
    
    .search-input {
        width: 85%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        /* text-size-adjust: auto; */
        font-size: 12px;
        /* width: 230px; */
    }
    .panel-button-wrapper {
        display: flex;
        align-items: center;
        /* margin-bottom: 5px; */
    }

    .panel-button {
        display: flex; /* Set display to flex to align items */
        align-items: center; /* Align items vertically */
        justify-content: space-between; 
        width: 25px;
        height: 25px;
        background-color: white; 
        border-radius: 50%; /* Border radius to make it circular */
        cursor: pointer; 
        margin-bottom: 10px; 
        margin-left: 10px;  /* indent */
    }

    #visualize-container  {
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px; /* Add spacing between the text and buttons */
    }

    .button-text {
        margin-left: 10px;
        line-height: 24px;
        /* font-size: 14px; */
    }

    .button-container { 
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        /* margin-top: 155px;  */
        /* align-content: flex-start; */
    }

    .flex-author{
        height: 50px;
        max-width: 150px;

    }
    .flex-project{
        height: 50px;
        max-width: 150px;

    }

    @media (max-width: 800px) {
        .flex-author, .flex-project {
            flex: 100%;
            margin-bottom: 10px;
        }
      }
    
    .button-container button {
        font-weight: 400;
        margin-left: 10px; 
        height: 50px;
        width: 300px;
        border: none; 
        cursor: pointer; /* Pointer cursor for hover effect */
        border-radius: 5px;
        background-color: #f0f0f0;
    }

    .button-container button:active {
        background-color: black; /* Button color when clicked */
        color: white; /* Text color remains white */
    }

    .button-container button:hover{
        background-color: #999;
    }

    .button-container button.custom-focus {
        background-color: black; /* Mimic the focus background color */
        color: white; /* Mimic the focus text color */
        outline: none; /* Ensure no default outline */
        box-shadow: 0 0 0 2px white; /* Optional: add a custom outline */
    }

    .author-project{
        justify-content: center;
    }

    /* Add styles to handle text wrapping */
    .node-text {
        text-align: center;
        text-anchor: middle;
    }
    
    #VisualCodeButton {
        border: 3px solid #EDDF2B;
    }
    
    /* Define styles for the highlighted state */
    #VisualCodeButton.highlighted {
        background-color: #EDDF2B;
    }
    #mappingConflictButton {
        border: 3px solid #AC7EEB; /* Border color and thickness */
    }
    #mappingConflictButton.highlighted {
        background-color: #AC7EEB;
    }

    #counterNarrativesButton {
        border: 3px solid  #EF422D;
    }
    #counterNarrativesButton.highlighted {
        background-color: #EF422D;
    }

    #localDataButton {
        border: 3px solid #19C5CC;
    }
    #localDataButton.highlighted {
        background-color: #19C5CC;
    }

    #networksButton {
        border: 3px solid #BCD18A;
    }
    #networksButton.highlighted {
        background-color: #BCD18A;
    }

    #forensicsButton {
        border: 3px solid #FF9922;
    }
    #forensicsButton.highlighted {
        background-color: #FF9922;
    }

    #csrButton {
        border: 3px solid #29AAE1;
    }

    #csrButton.highlighted {
        background-color: #29AAE1;
    }

    /* Style for Tutorial Pages */
    .tag-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Forces a 2-column grid */
        gap: 10px;
        padding: 10px;
    }
     
    .tag-item {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        font-family: 'UniversNextW01-Regular', Helvetica, Arial, sans-serif; 
    }

/* iframe style  */
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }

.responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

    /* Style for tutorials - try to match with main-column*/ 
    .tutorials-section {
        /* max-width: 40%;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10px; 
        /* overflow-y: auto; */
        min-width: 300px;
        /* width:100%; */
    }

    @media (max-width: 800px) {
        .tutorials-section{
            width: 100%;
            margin: 20px;
        }
    }
    

    .tutorials-section h1 {
        font-size: 20px;
        /* font-weight: bold; */
        margin-bottom: -10px;
    }

    /* author name */
    .tutorials-section h2 {
        /* font-size: px; */
        margin-bottom: 20px;
        color: #727272;
    }

    .tutorials-section h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 50px; 
        margin-bottom: 0px;
        color: #000;
    }

    .tutorials-section h4 {
        font-size: 1.071em;
        /* font-weight: bold; */
        margin-top: 25px; 
        margin-bottom: 20px;
    }

    .tutorials-section p {
        /* font-size: 20px; */
        margin-bottom: 20px;
    }

    .tutorials-section p.indent, a.indent{
        margin-left: 10%;
        margin-right: 10%;
    }


    .tutorials-section img {
        max-width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        max-height: 80vh;
        width:100%;

    }

    .tutorials-section p.image-text{
        display: grid;
        justify-content: center;
        justify-items: center;
        color: #999;
    }
    
    .tutorials-iframe {
        width: 250%; 
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: -750px;
        height: 1000px; 
        border: none; 
    }
    
    #tutorials-side-panel {
        background-color: #f0f0f0;
        padding: 10px;
        box-sizing: border-box;
        max-height: calc(100vh - 65px);
        /* align-items: left;  */
        justify-items: center;
        border-radius: 5px;
        min-width: 200px;
        width:100%;
        margin-left: 10px;
    }

    .tag-item {
        margin: 5px; /* 5px space between each tag */
        margin-top: 5px;
        padding: 5px; /* Add some padding for better appearance */
        display: flex; 
        border-radius: 3px; /* Rounded corners for better appearance */
        color: #000000; /* Default text color */
        border: none; /* Remove any border */
        outline: none; /* Remove any outline */
        height: 50px; 
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: 87px;
        white-space: normal; /* Allow text to break to a new line */
        text-align: center; 
        word-wrap: break-word; /* Break long words onto the next line */
    }

    .visual-code-container {
        display: flex; 
        align-items: center; 
    }

    .tutorials-circle {
        width: 40px; 
        height: 40px; 
        background-color: rgb(254, 244, 69); 
        border-radius: 50%; 
        margin-right: 15px; 
    }

    .tutorials-ProjectTagsContainer {
        display: flex; 
        flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    }
    