body, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000;
    font-family: UniversNextW01-Regular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.4;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    flex-direction: row;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
  }

  h6 {
    font-style: italic;
    margin: 5px;
  }

  h6 a{
    color: #000;
  }

  h6 a.visited{
    color: #000;
  }

  h6 a:hover{
    color: #999;
  }

  h3{
    font-weight: bold;
  }

/* network and nodes styling */
#networkviz {
    width: 100%;  /* Full viewport width */
    height: 100%; 
    font-size: 16px;
    z-index: 99999;
    overflow: visible;
  }

  @media (max-width: 800px) {
    #networkviz{
        font-size: 10px; 
        overflow: hidden;
        min-height: 400px;
    }
}
  
    .node {
    stroke-width: 2px;
    }

    .link {
        stroke: #b6b6b6;
    }
    .panel-VisualCode {
        fill: white;
        stroke: #EDDF2B;
    }
    .panel-VisualCode:hover {
        fill: #EDDF2B;
        stroke: #EDDF2B;
    }

    .panel-MappingConflict {
        fill: white;
        stroke: #AC7EEB;
    }
    .panel-MappingConflict:hover {
        fill: #AC7EEB;
        stroke: #AC7EEB;
    }

    .panel-CounterNarrative {
        fill: white;
        stroke: #EF422D;
    }
    .panel-CounterNarrative:hover {
        fill: #EF422D;
        stroke: #EF422D;
    }

    .panel-LocalData {
        fill: white;
        stroke: #19C5CC;
    }
    .panel-LocalData:hover {
        fill: #19C5CC;
        stroke: #19C5CC;
    }

    .panel-NetworkModels {
        fill: white;
        stroke: #BCD18A;
    }
    .panel-NetworkModels:hover {
        fill: #BCD18A;
        stroke: #BCD18A;
    }

    .panel-CounterForensics {
        fill: white;
        stroke: #FF9922;
    }
    .panel-CounterForensics:hover{
        fill: #FF9922;
        stroke: #FF9922;
    }

    .panel-Default {
        fill: white;
        stroke: #727272;
    }
    .panel-Default:hover {
        fill: #727272;
        stroke: #727272;
    }

.column {
    flex-direction: row;
    display: flex;
  }
  
  /* Left and right column */
  .column-left {
    width: 20%;
    min-width: 350px;
  }

  .column-main {
    width: 80%;
    margin-top: 0.5%; 
    display: flex;
    flex-flow: column;
  }
  

  .column-main-viz {
    width: 80%;
    margin-top: 0.5%; 
    display: flex;
    flex-flow: column;
  }
  
 /* Responsive layout */
@media (max-width: 800px) {
    .column{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .column-main{
        width: 100%;
        margin-top: 20px;
        height: 500px;
    }
    .column-left, .column-main-viz, .column-main {
        flex: 100%;
        width: 100%;
    }
    .column-main-viz{
        margin-top: 20px;
        height: 500px;
    }
}

/* .top-bar styling */
.top-bar {
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    position: sticky;

}

#about{
    right: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#about a{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    cursor: pointer; /* Pointer cursor for hover effect */
    border-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none; 
    color: #000;
}

#about a:hover {
    background-color: #999;
}

#about a:active{
    background-color: #000;
    color: white;
}

.title {
    background-color: #ffffff;
    height: 22px;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 1%; 
}

.title a:link{
    text-decoration: none;
}

.title a:visited {
    color: #000;
  }

.title a:hover {
    color: #999;
}

/* .side-panel styling */
#side-panel {
    margin-top: 10px;
    margin-left: 1%; 
    margin-right: 1%;
    background-color: #f0f0f0;
    padding: 15px;
    min-width: 250px;
    max-height:fit-content;
    /* max-height: calc(100vh - 65px); */
}

.searchButton{
        width: fit-content;
        padding: 15px;
        font-weight: bold;
    }
    
    
    .search-input {
        width: 85%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        /* text-size-adjust: auto; */
        font-size: 12px;
        /* width: 230px; */
    }
    .panel-button-wrapper {
        display: flex;
        align-items: center;
        /* margin-bottom: 5px; */
    }

    .panel-button {
        display: flex; /* Set display to flex to align items */
        align-items: center; /* Align items vertically */
        justify-content: space-between; 
        width: 25px;
        height: 25px;
        background-color: white; 
        border-radius: 50%; /* Border radius to make it circular */
        cursor: pointer; 
        margin-bottom: 10px; 
        margin-left: 10px;  /* indent */
    }

    #visualize-container  {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px; /* Add spacing between the text and buttons */
    }

    .button-text {
        margin-left: 10px;
        line-height: 24px;
        /* font-size: 14px; */
    }

    .button-container { 
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .flex-author{
        height: 50px;
        max-width: 150px;

    }
    .flex-project{
        height: 50px;
        max-width: 150px;

    }

    @media (max-width: 800px) {
        .flex-author, .flex-project {
            flex: 100%;
            margin-bottom: 10px;
        }
      }
    
    .button-container button {
        font-weight: 400;
        margin-left: 10px; 
        height: 50px;
        width: 300px;
        border: none; 
        cursor: pointer; /* Pointer cursor for hover effect */
        border-radius: 5px;
        background-color: #f0f0f0;
    }

    .button-container button:active {
        background-color: black; /* Button color when clicked */
        color: white; /* Text color remains white */
    }

    .button-container button:hover{
        background-color: #999;
    }

    .button-container button.custom-focus {
        background-color: black; /* Mimic the focus background color */
        color: white; /* Mimic the focus text color */
        outline: none; /* Ensure no default outline */
        box-shadow: 0 0 0 2px white; /* Optional: add a custom outline */
    }

    .author-project{
        justify-content: center;
    }

    /* Add styles to handle text wrapping */
    .node-text {
        text-align: center;
        text-anchor: middle;
    }
    
    #VisualCodeButton {
        border: 3px solid #EDDF2B;
    }
    
    /* Define styles for the highlighted state */
    #VisualCodeButton.highlighted {
        background-color: #EDDF2B;
    }
    #mappingConflictButton {
        border: 3px solid #AC7EEB; /* Border color and thickness */
    }
    #mappingConflictButton.highlighted {
        background-color: #AC7EEB;
    }

    #counterNarrativesButton {
        border: 3px solid  #EF422D;
    }
    #counterNarrativesButton.highlighted {
        background-color: #EF422D;
    }

    #localDataButton {
        border: 3px solid #19C5CC;
    }
    #localDataButton.highlighted {
        background-color: #19C5CC;
    }

    #networksButton {
        border: 3px solid #BCD18A;
    }
    #networksButton.highlighted {
        background-color: #BCD18A;
    }

    #forensicsButton {
        border: 3px solid #FF9922;
    }
    #forensicsButton.highlighted {
        background-color: #FF9922;
    }

    #csrButton {
        border: 3px solid #29AAE1;
    }

    #csrButton.highlighted {
        background-color: #29AAE1;
    }

    /* Style for Tutorial Pages */
    .tag-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Forces a 2-column grid */
        gap: 10px;
        padding: 10px;
    }
     
    .tag-item {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        font-size: smaller;
    }

    /* Style for tutorials - try to match with main-column*/ 
    .tutorials-section {
        /* max-width: 40%;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10px; 
        /* overflow-y: auto; */
        min-width: 300px;
        /* width:100%; */
    }

    @media (max-width: 800px) {
        .tutorials-section{
            width: 100%;
            margin: 20px;
        }
    }
    

    .tutorials-section h1 {
        font-size: 20px;
        /* font-weight: bold; */
        margin-bottom: -10px;
    }

    /* author name */
    .tutorials-section h2 {
        /* font-size: px; */
        margin-bottom: 20px;
        padding-bottom: 20px;
        color: #727272;
    }

    .tutorials-section h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 50px; 
        margin-bottom: 0px;
        color: #000;
    }

    .tutorials-section h4 {
        font-size: 1.071em;
        font-weight: bold;
        margin-top: 25px; 
        margin-bottom: 20px;
    }

    .tutorials-section h5 {
        font-size: 1.071em;
        font-style: italic;
        color:#999;
    }

    .tutorials-section p {
        margin-bottom: 20px;
    }

    .tutorials-section p.indent, a.indent{
        margin-left: 10%;
        margin-right: 10%;
    }

    p.indent-num{
        text-indent: -2ch;
        margin-left: 10%;
        margin-right: 10%;
    }

    p.indent-next{
        text-indent: -2ch;
        margin-top: -13px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .italic{
        font-style: italic;
    }

    .tutorials-section  a:link{
            color: #000;
            text-decoration: underline;
            /* font-weight: bold; */

            }
    .tutorials-section  a:visited {
            /* color: #29AAE1; */
            color: #000;
          }
          
          /* mouse over link */
    .tutorials-section a:hover {
            color: #999;
            font-weight: bold;
          }
          
          /* selected link */
    .tutorials-section a:active {
            color: #999;
          }

    .image {
        display: grid;
    }
    
    .image img{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: center;
        justify-self: center;
        max-height: 80vh;
        height:auto;
        max-width: 50vw;
    }
      
    .image-fullwidth{
        flex-direction: row;
        display: flex;
        width: 150%;
        translate: -18%;
        height: auto;
    }

    .image-fullwidth-100{
        width: 100%;
        display: flex;
        flex-flow: column;

    }

    .image-fullwidth-50{
        width: 50%;
        display: flex;
        flex-flow: column;
    }

    @media (max-width: 800px) {
        .image-fullwidth{
            width: 100%;
            flex-direction: column;
            align-items: center;
            translate: 0%;
        }
        .image-fullwidth-50 {
            flex: 100%;
            width: 100%;
            /* justify-items: center; */
        }
    }

    code{
        background-color: #f0f0f0;
        padding: 3px;
        color: red;
        font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
        font-size: 13px;
    }

    .image-text{
        /* display: grid; */
        display: block;
        text-align: center;
        /* display: inherit; */
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        color: #999;
        margin-top: 5px;
    }
    
    .tutorials-iframe {
        /* position: absolute; */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 208.333333333333333%;
        translate: -36%;
        height: 70vh; 
        border: 2px solid #f0f0f0;
        /* overflow-x: hidden; */
        overflow: auto;
    }

    @media (max-width: 800px) {
        .tutorials-iframe{
           width: 100%; 
           height: 500px;
           margin-left: 0;
        }
    }

    #tutorials-side-panel {
        background-color: #f0f0f0;
        padding: 10px;
        box-sizing: border-box;
        max-height: calc(100vh - 65px);
        justify-items: center;
        border-radius: 5px;
        min-width: 200px;
        width:100%;
        margin-left: 10px;
        /* position: -webkit-sticky; */
        position: sticky;
        top: 20px;
        height: fit-content;
    }

    .tag-item {
        margin: 5px; /* 5px space between each tag */
        margin-top: 5px;
        padding: 5px; /* Add some padding for better appearance */
        display: flex; 
        border-radius: 3px; /* Rounded corners for better appearance */
        color: #000000; /* Default text color */
        border: none; /* Remove any border */
        outline: none; /* Remove any outline */
        height: 50px; 
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: 87px;
        white-space: normal; /* Allow text to break to a new line */
        text-align: center; 
        word-wrap: break-word; /* Break long words onto the next line */
    }

    .visual-code-container {
        display: flex; 
        align-items: center; 
    }

    .tutorials-circle {
        width: 40px; 
        height: 40px; 
        background-color: rgb(254, 244, 69); 
        border-radius: 50%; 
        margin-right: 15px; 
    }

    .tutorials-ProjectTagsContainer {
        display: flex; 
        flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    }

    sup {
        vertical-align: super;
        font-size: smaller;
      }

    .CSR-text{
        color: #29AAE1;
    }